<header class="header">
  <div class="row">
    <ul class="header-subnav">
    <li class="small-12 medium-6"><a href="#">Take Action!</a></li>
    <li class="small-12 medium-6"><a href="#" class="is-active">Carpe Diem!</a></li>
    <li class="small-12 medium-6"><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
  </div>

  <h1 class="headline">{{title}} <small>by rafszul</small></h1>

</header>

<div class="app-body">

<div class="row column medium-6 medium-centered">
      <h1 class="headline">{{title}} <small>by rafszul</small></h1>
  </div>
</div>
